@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600&family=Karla:wght@300;400;500;600;700&display=swap");
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: grid;
  place-content: center;
  font-family: "Karla", sans-serif;
  position: relative;
  background-color: #f5f7fb;
}
.blue-blob {
  position: fixed;
  bottom: 0;
  z-index: -9999;
}
.yellow-blob {
  position: fixed;
  right: 0;
  z-index: -9999;
}
#root {
  width: 80vw;
  display: flex;
  justify-content: center;
}

/* Intro Page */

.intro--container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro--container > * {
  margin: 0;
  color: #293264;
}
.intro--title {
  font-weight: 700;
  padding: 8px;
}

.intro--desc {
  font-weight: 400;
  font-size: 1rem;
  padding-bottom: 16px;
}

.intro--button {
  width: 193px;
  height: 52px;
  background-color: #4d5b9e;
  outline: none;
  border: none;
  border-radius: 15px;
  cursor: pointer;

  color: #fff;
  font-family: "Inter", sans-serif;
  font-style: normal;
}

/* Quiz Page */

.quiz--container {
  color: #293264;
  display: grid;
  place-items: center;
  margin: 10vh 0px;
}

.quiz--all-choices {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  padding-bottom: 20px;
  border-bottom: 0.794239px solid #dbdef0;
}
.quiz--all-choices > * {
  flex: 1;
}
.quiz--choice {
  background-color: #f5f7fb;
  padding: 3px 18px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #293264;
  display: grid;
  place-content: center;
  cursor: pointer;

  font-size: 0.9rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.quiz--button {
  background-color: #4d5b9e;
  border-radius: 10px;
  height: 40px;
  width: 130px;
  border: none;
  outline: none;
  cursor: pointer;

  color: #fff;
  font-size: 12px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

@media (max-width: 540px) {
  .quiz--all-choices {
    display: flex;
    flex-direction: column;
  }
  .quiz--choice {
    padding: 6px 0px;
  }
  .quiz--container {
    margin: 4vh 4vw;
  }
}
